@import url("components/banner.css");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/card-movie.css");
@import url("components/button.css");

body {
  margin: 0;
  font-family: Open Sans;
  text-align: center;
  background-color:  rgb(246, 255, 255);
}

@media (max-width: 720px) {
  .title {
    bottom: -7%;
    height:  15%;
  }

  .title h1, h2 {
    margin: 2px;
    padding: 2px;
  }

  .container {
    margin: 2% auto;
  }

.movie-img {
   width: 25%;
   height: 20vh;
}

.movie-embbed {
  width: 75%;
  height: 20vh;
  flex-grow: 1;
}
}
