.card-movie {
  background-color: #202020;
/*  width: 110%;
  margin: 20px -5% 20px -5%;*/
  margin: 5% auto;
  color: white;
}

.card-movie-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1%;
}

.card-movie-top-title {
  justify-content: flex-start;
  color: white;
  text-align: left;
  padding: 1%;
}

.card-movie-top-title h1, p {
  margin: 0;
}

.card-movie-top-title h1 {
  font-size: 1.5vw;
}

.card-movie-top-title p {
  font-size: 1vw;
}

.card-movie-top-rating {
  display: flex;
  align-items: flex-start;
  margin-top: 2%;
  margin-right: 0.5%;
}

.card-movie-top-rating img {
  height: 30px;
}

.card-movie-top-rating h2 {
  margin: 0;
}

.card-movie-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
}

.movie-img {
   width: 25%;
   height: 35vh;
}

.movie-embbed {
  width: 75%;
  height: 35vh;
  flex-grow: 1;
}

.card-movie-bottom {
  background-color: black;
  color: #FFFF66;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-netflix {
  color: white;
  padding: 1.5% 2.5%;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1vw;
  background: #E50914;;
  transition: background 0.3s ease;
  width: 20%;
  margin-top: 3%;
}

.btn-netflix:hover {
  background: #990000;
}
