.container {
  margin: 10% 10%;
  display: flex;
  justify-content: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7%;
}

.container h2 {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  line-height: 1.5;
  font-size: 1.25vw;
}

.author {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid grey;
  margin-bottom: 10%;
}

.author p {
  margin: 2;
  padding: 5px 5px;
  font-size: 1vw;
}

.author img {
  padding: 5px 5px;
}
